* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-h1-color: #403333;
    --second-h1-color: white;
    --main-bg-color: #3B4498;
    --second-bg-color: #52A0D4;
    --correct-bg-color: #20A220;
    --wrong-bg-color: #FF0000;
    --main-h1-font: 'Erica One', cursive; 
    --second-h1-font: 'Bowlby One SC', cursive;
    --main-text-font:'Roboto', sans-serif;
}


#wrapper-game{
    height: 100vh;
    background:#E0F618 url("../images/bg-5.jpg");
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container{
    padding-top:15px;
}

.header-h1{
    font-family: var(--second-h1-font);
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 900;
    color: var(--second-h1-color);
    margin-top: -30px;
}

.question-container{
    padding-top: 10px;
}

.outer-container{
    height: 160px;
    width: 280px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second-bg-color);
    border-radius: 10px;
    transform: skew(2deg);

}

.inner-container{
    height: 140px;
    width: 260px;
    background-color: var(--second-h1-color);
    border-radius: 5px; 
    border: 1px solid var(--second-bg-color);
    transform: skew(-2deg);
    display: flex;
    align-items: center;
    flex-direction: column;

}

.question{
    font-size: 12px;
    font-family: var(--main-text-font);
    font-weight: 900;
    padding: 0 10px 0 10px;
    letter-spacing: 1px;
}

.category{
    font-size: 20px;
    font-family: var(--second-h1-font);
    color: var(--main-bg-color);
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 5px;
    letter-spacing: 2px;
}

.nrOfAnswers{
    font-size: 13px;
    font-family: var(--second-h1-font);
    color: var(--main-bg-color);
    font-weight: 900;
    letter-spacing: 2px;
    margin-top: 10px;
}

.button-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.answer{
    width: 280px;
    height: 40px;
    border-radius: 10px;
    margin-top:10px;
    background: var(--second-h1-color);
    border-color: var(--second-h1-color);
    color: var(--main-h1-color);
    font-family: var(--main-text-font);
    text-decoration: none;
    font-size: 12px;
    font-weight: 900;
    cursor: pointer;
    outline: none;
    text-align: center;
}

.fa-times-circle,
.fa-check-circle{
    font-size: 20px;
    margin-left: 5px;
    color: var(--second-h1-color);
    pointer-events: none;
    float: left;

}

.fa-check-circle{
    color: var(--second-h1-color) !important;  
}

.answer span{
    pointer-events: none;
    margin-left: -40px;
}

.correct{
    background-color: var(--correct-bg-color);
    border-color: var(--correct-bg-color);
}

.wrong{
    background-color: var(--wrong-bg-color);
    border-color: var(--wrong-bg-color);
}

.CW-container{
    display:flex;
    justify-content: center; 
    height: 40px;
    margin: 10px 0 10px 0;
}

.CW-h1{
    font-size: 20px;
    letter-spacing: 2px;
    font-family: var(--main-text-font);
    font-weight: 900;
    visibility: hidden;
}

.footer{
    height: 45px;
    position: absolute;
    bottom: 0;
}

.footer .bottom-container a{
    padding: 20px 90px 20px 90px;
    border-radius: 10px;
    background: var(--main-bg-color);
    border-color: var(--main-bg-color);
    color: var(--second-h1-color);
    font-family: var(--main-text-font);
    text-decoration: none;
    font-size: 12px;
    
} 

@media only screen and (min-width: 375px) {
   .header-h1{
    font-size: 35px;
    margin-top: -40px;
   }
   .question-container{
       margin-top: 10px;
       letter-spacing: 2px;
   }
   .outer-container{
        height: 200px;
        width: 300px;
    }
    .inner-container{
        height: 180px;
        width: 280px;
    }
    .category{
        font-size: 20px;
    }
    .nrOfAnswers{
        font-size: 16px;
        margin-top: 10px;
    }
    .question{
        font-size: 13px;
    }
    .answer{
        width: 320px;
        font-size: 12px;
        height: 45px;
    }
    .CW-h1{
        font-size: 22px;
    }
    .footer{
        height: 60px;
    }
    .footer .bottom-container a{
        padding: 20px 90px 20px 90px;
        font-size: 14px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header-h1{
    font-size: 50px;
    margin-top: -90px;
   }
   .question-container{
       margin-top: -10px;
       letter-spacing: 2px;
   }
   .outer-container{
        height: 220px;
        width: 400px;
    }
    .inner-container{
        height: 200px;
        width: 380px;
    }
    .category{
        font-size: 30px;
    }
    .nrOfAnswers{
        font-size: 18px;
        margin-top: 10px;

    }
    .question{
        font-size: 14px;
        padding: 0 20px 0 20px;
    }
    .answer{
        font-size: 14px;
        height: 50px;
        width: 400px;
    }
    .fa-times-circle,
    .fa-check-circle{
    font-size: 25px;
    }
    .CW-h1{
        font-size: 24px;
        margin-top: 5px;
    }
    .footer .bottom-container a{
        padding: 25px 200px 25px 200px;
    }
}


@media only screen and (min-width: 1200px) {
    .header-h1{
    font-size: 60px;
    margin-top: -100px;
    }
    .question-container{
        margin-top: -20px;
    }

    .outer-container{
        height: 230px;
        width: 460px;
    }
    .inner-container{
        height: 210px;
        width: 440px;
    }
    .category{
        font-size: 35px;
    }
    .nrOfAnswers{
        font-size: 20px;
    }
    .question{
        font-size: 16px;
        padding: 0 20px 0 20px;
    }
    .answer{
        font-size: 16px;
        height: 55px;
        width: 450px;
    }
    .fa-times-circle,
    .fa-check-circle{
    font-size: 30px;
    }
    .CW-h1{
        font-size: 26px;
    }
    .footer .bottom-container a{
        padding: 25px 220px 25px 220px;
    }
    .footer{
        height: 50px;
    }
}


