* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-h1-color: #403333;
    --second-h1-color: white;
    --main-bg-color: #3B4498;
    --second-bg-color: #52A0D4;
    --correct-bg-color: #20A220;
    --wrong-bg-color: #FF0000;
    --main-h1-font: 'Erica One', cursive; 
    --second-h1-font: 'Bowlby One SC', cursive;
    --main-text-font:'Roboto', sans-serif;
}

#wrapper-result{
    height: 100vh;
    background:#FF0000;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}


.header-h1{
    font-family: var(--second-h1-font);
    color: var(--second-h1-color);
    font-size: 50px;
    padding-top: 30px;
    letter-spacing: 2px;
}

.circle-container{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #A44343;
    display:flex;
    flex-direction: column;
     justify-content: center;
    align-items: center; 
}


.lower-container{
    height: 50px;
    margin-top: 10px;
}

.fa-medal{
    color: #FFD700;
    font-size: 50px;
    margin-top: 10px;
}

.fa-trophy{
    color: #FFD700;
    font-size: 90px;
}

.fa-star{
    color: #FFD700;
    font-size: 30px; 
}

.lower-container .second{
    margin-left: 15px; 
}

.outer-container{
    width: 100%;
    margin-left: 40px;
    /* margin-top: 10px; */
}

.circle{
    height: 35px;
    width: 35px;
    background-color: #A44343;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle .fa-star{
    font-size: 20px;
}

.fa-crown{
    font-size: 20px;
    color:#FFD700;
}

.text-container{
    display:flex;
    align-items: center;
    margin-top: 10px;
}

#usertext{
    font-size: 15px;
    font-family: var(--main-text-font);
    margin-top: 20px;
}

#username{
    font-size: 20px;
    font-family: var(--second-h1-font);
    letter-spacing: 2px;
    text-transform: capitalize;
}

#nrOfCorrectAnswers{
    font-size: 15px;
    font-family: var(--main-text-font);
    font-weight: 900;
    margin-left: 10px;
}

#nrOfCorrectAnswers span{
    font-size: 20px;
    font-family: var(--second-h1-font);
    font-weight: 900;

}

.title{
    font-size: 15px;
    font-family: var(--main-text-font);
    font-weight: 900;
    margin-left: 10px;
}

.title span{
    font-size: 20px;
    font-family: var(--second-h1-font);
    letter-spacing: 1px;
}

.footer{
    margin-top: 75px;
    display:flex;
    justify-content: center;
}


.footer .bottom-container a{
    padding: 15px 40px 15px 40px;
    border-radius: 10px;
    background: var(--main-bg-color);
    border-color: var(--main-bg-color);
    color: var(--second-h1-color);
    font-family: var(--main-text-font);
    text-decoration: none;
    font-size: 12px;
    font-weight: 900;
} 