* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-h1-color: black;
    --second-h1-color: white;
    --main-bg-color: #3B4498;
    --second-bg-color: #52A0D4;
    --correct-bg-color: #20A220;
    --wrong-bg-color: #FF0000;
    --main-h1-font: 'Erica One', cursive; 
    --second-h1-font: 'Bowlby One SC', cursive;
    --main-text-font:'Roboto', sans-serif;
}


#wrapper-settings{
    height: 100vh;
    background:#E0F618 url("../images/bg-4.png") no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-h1{
    font-size: 45px;
    font-family: var(--second-h1-font);
    text-transform: uppercase;
    color: var(--second-h1-color);
    letter-spacing: 2px;
    margin-top: -80px;
}

.form-container{
    height: 350px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.input{
    display:flex;
    flex-direction: column;
}

.username{
    height: 40px;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 12px;
    width: 250px;
    font-family: var(--main-text-font);
}

.label-username{
    font-size: 12px;
    font-family: var(--main-text-font);
    font-weight: 900;
}

.select-h1{
    font-size: 12px;
    font-family: var(--main-text-font);
    font-weight: 900;
    padding-top: 30px;
    font-weight: 900;
}

select{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding-left: 5px;
    background:#ffffff;
    font-size: 12px;
    font-family: var(--main-text-font);
}

.add,
.remove{
    display:flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 90px;
    height: 45px;
    border-radius: 10px;
    background: var(--main-bg-color);
    border-color: var(--main-bg-color);
    color: var(--second-h1-color);
    font-size: 20px;
    font-weight: 900;
    cursor:pointer;
}

 .addRemove-h1{
    font-size: 12px;
    font-family: var(--main-text-font);
    font-weight: 900;
    padding-top: 30px;
    font-weight: 900;
    text-align: center;
}


.add-question{
    display:flex;
    flex-direction: row !important;
    justify-content: center;
    padding-top: 10px;
    color: var(--second-h1-color);
    font-family: var(--main-text-font);

}

.nrOfQuestions{
    padding: 0 15px 0 15px;
    font-size: 35px;
}


.footer{
    height: 45px;
    position: absolute;
    bottom: 0;
}


.footer .button-container a{
    padding: 20px 50px 20px 50px;
    border-radius: 10px;
    background: var(--main-bg-color);
    border-color: var(--main-bg-color);
    color: var(--second-h1-color);
    font-family: var(--main-text-font);
    text-decoration: none;
    font-size: 12px;
    margin: 5px;
}   

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 375px) {
    .top-h1{
        font-size: 55px;
        margin-top: -150px;
        letter-spacing: 5px;
    }

    .username,
    #category{
        height: 50px;
        font-size: 12px;
        width: 300px;
    }

    .label-username,
    .select-h1,
    .addRemove-h1{
        font-size: 12px;
        margin-top: 5px;
    }

    .form-container{
        height: 350px;
        width: 350px;
        margin-top: -50px;
    }

    .add,
    .remove{
        width: 100px;
        height: 50px;  
        font-size: 25px;
    }

    .nrOfQuestions{
        font-size: 40px;
    }

    .footer .button-container a{
        font-size: 14px;
        padding: 20px 60px 20px 60px;

    }   

    .footer{
        height: 60px;
    }

}

@media only screen and (min-width: 475px) {
    .top-h1{
        font-size: 60px;
        margin-top: -150px;
        letter-spacing: 5px;
    }

    .username,
    #category{
        font-size: 12px;
    }

    .label-username,
    .select-h1,
    .addRemove-h1{
        font-size: 12px;
        margin-top: 10px;
    }

    .form-container{
        height: 350px;
        width: 350px;
    }

    .footer .button-container a{
        padding: 20px 80px 20px 80px;

    }   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 604px) {
    .top-h1{
        font-size: 60px;
        margin-top: -150px;
    }  
    .username,
    #category{
        height: 50px;
        width: 350px;
        font-size: 14px;
    }

    .label-username,
    .select-h1,
    .addRemove-h1{
        font-size: 14px;
        margin-top: 10px;
    }

    .form-container{
        height: 350px;
        width: 350px;
    }

    .add,
    .remove{
        width: 100px;
        height: 50px;  
        font-size: 25px;
    }

    .nrOfQuestions{
        font-size: 40px;
    }

    .footer .button-container a{
        padding: 25px 120px 25px 120px;
        font-size: 14px;
    }   
}

@media only screen and (min-width: 1200px) {
    .top-h1{
        font-size: 70px;
        margin-top: -200px;
    }
    
    .label-username,
    .select-h1{
        font-size: 14px;
        margin-top: 15px;
    }
    .add,
    .remove{
        width: 110px;
        height: 60px;  
    }
    .nrOfQuestions{
        font-size: 50px;
    }

    .form-container{
        margin-top: -50px;
    }
    .footer .button-container a{
        padding: 30px 120px 30px 120px;
        font-size: 14px;
    }   

    .footer{
        height: 60px;
    }
}
